<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="../stylesheet/s">
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <div class="username">
            Logged in as: <span id="username-placeholder"></span>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>
