<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/home.css">
</head>

<body>
        

    <div class=""> <% if (userName) { %>
        <h2 class="welcome">Welcome  <%= userName %> Please Login</h2>
    <% } %>  
  
    
    <div class="container">
        <a href="/login" class="login">Login</a>
        <a href="/signup" class="signup">Sign Up</a>
    </div>
</body>

</html>