<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Update</title>
    <link rel="stylesheet" href="/stylesheet/userDetailsForm.css">
</head>

<body>
        <form action="/showDetails" method="post" class="update-form">
            <input type="text" name="age" placeholder="Enter your age" >
            <input type="text" name="city" placeholder="Enter your city">
            <input type="text" name="street" placeholder="Enter your street">
            <input type="text" name="pin" placeholder="Enter your pin">
            <input type="text" name="houseNumber" placeholder="Enter your house number">
    
            <button type="submit" class="submit">Submit</button>
        </form>

        <a href="/userHome" class="cancel">Cancel</a>
</body>

</html>